<!doctype html>
<html class="login_html" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="audioAd">
	<form name="audioGrantValue" action="grant" method="post">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div id="timer_div"
						Style="color: red; font-size: 20px; text-align: center;"></div>
					<h4 class="modal-title" id="myModalLabel">Click Here for
						Access few more free minutes</h4>
				</div>
				<input type="hidden" name="access" th:value="${access}" /> 
				<input type="hidden" name="apName" th:value="${apName}" /> <input
					type="hidden" name="clientIp" th:value="${clientIp}" /> <input
					type="hidden" name="macAddress" th:value="${macAddress}" /> <input
					type="hidden" name="ssid" th:value="${ssid}" /> <input
					type="hidden" name="url" th:value="${url}" /> <input type="hidden"
					name="vcName" th:value="${vcName}" /> <input type="hidden"
					name="switchIp" th:value="${switchIp}" /> <input type="hidden"
					name="cmd" th:value="${cmd}" />
				
				<input type="hidden" id="grantTime" name="grantTime"
					th:value="${adBean.audioFreeMinute}" /> <input type="hidden"
					id="opinion" name="opinion" /> <input type="hidden" id="ratePoint"
					name="ratePoint" /> <input type="hidden" id="audioAdId" th:value="${adBean.audioAdId}"
					name="adIds" /> <input type="hidden" id="userId" name="userId"
					th:value="${userId}" /> <input type="hidden" id="baseGrantUrl"
					name="baseGrantUrl" th:value="${baseGrantUrl}" />
					<input type="hidden" name="audioFreeMinute" th:value="${adBean.audioFreeMinute}" />
				<div class="modal-body" style="height: 100px; float: center;">

					<div th:if="!${adBean.isAudioRating} and ${adBean.isAudioLike}">
						<input type="button" onclick="audioExtraPack();"
							class="btn btn-default" value="Click Here" />
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="audiolike"
							id="audioimglike"
							th:onclick="'audioLike(\''+${adBean.audioAdId}+'\',\''+${adBean.audioLikePoints}+'\');'"><i
							class="fa fa-thumbs-o-up"></i> <b> <img th:alt="like"
								th:src="@{/resources/images/like.jpg}"
								style="height: 25px; width: 25px;" />
						</b> <label id="audiolike" class="audioimglike"
							th:text="${adBean.audioLikePoints}" style="font-weight: bold;"></label>
						</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="audiodislike"
							id="audioimgdislike"
							th:onclick="'audioDislike(\''+${adBean.audioAdId}+'\',\''+${adBean.audioDislikePoints}+'\');'"><i
							class="fa fa-thumbs-o-down"></i><b> <img th:alt="dislike"
								th:src="@{/resources/images/dislike.jpg}"
								style="height: 25px; width: 25px;" /></b> <label
							class="audiodislike" id="audiodislike"
							th:text="${adBean.audioDislikePoints}" style="font-weight: bold;"></label>
						</a>
					</div>

					<div th:if="${adBean.isAudioRating} and !${adBean.isAudioLike}">
						<input type="button" onclick="audioExtraPack();"
							class="btn btn-default" value="Click Here" /> <input
							type="hidden" id="totalRatePoint" name="totalRatePoint"
							th:value="${adBean.audioTotalRatingCount}" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

						<a class="dislike" id="dislike"><i class="fa fa-thumbs-o-up"></i>
							<input id="audioratePoint" class="audioratePoint"
							readonly="readonly" type="text"
							th:value="${adBean.audioRatingPoints} +' ratings'"
							style="font-weight: bold; width: 150px;" /> </a>
							<a class="dislike" id="dislike"><i
							class="fa fa-thumbs-o-up"></i> <input id="audiorateVal"
							class="rateVal" name="audiorateVal" readonly="readonly" type="text"
							th:value="${adBean.audioRateAvg} +' average'"
							style="font-weight: bold; width: 100px;" /> </a>
							 <a class="rate"
							id="audRate" onclick="showAudioRate();"><i
							class="fa fa-thumbs-o-up"></i> <input id="rate1" class="rate1"
							name="rate1" readonly="readonly" type="text" value="Rate Now"
							style="font-weight: bold; width: 75px;" /> </a>
					</div>

					<div th:if="${adBean.isAudioRating} and ${adBean.isAudioLike}">
						<input type="button" onclick="audioExtraPack();"
							class="btn btn-default" value="Click Here" /> <input
							type="hidden" id="totalRatePoint" name="totalRatePoint"
							th:value="${adBean.audioTotalRatingCount}" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

						<a class="audiolike"
							id="audioimglike"
							th:onclick="'audioLike(\''+${adBean.audioAdId}+'\',\''+${adBean.audioLikePoints}+'\');'"><i
							class="fa fa-thumbs-o-up"></i> <b> <img th:alt="like"
								th:src="@{/resources/images/like.jpg}"
								style="height: 25px; width: 25px;" />
						</b> <label id="audiolike" class="audiolike"
							th:text="${adBean.audioLikePoints}" style="font-weight: bold;"></label>
						</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="audiodislike"
							id="audioimgdislike"
							th:onclick="'audioDislike(\''+${adBean.audioAdId}+'\',\''+${adBean.audioDislikePoints}+'\');'"><i
							class="fa fa-thumbs-o-down"></i><b> <img th:alt="dislike"
								th:src="@{/resources/images/dislike.jpg}"
								style="height: 25px; width: 25px;" /></b> <label
							class="audiodislike" id="audiodislike"
							th:text="${adBean.audioDislikePoints}" style="font-weight: bold;"></label>
						</a>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="dislike" id="dislike"><i class="fa fa-thumbs-o-up"></i>
							<input id="audioratePoint" class="audioratePoint"
							readonly="readonly" type="text"
							th:value="${adBean.audioRatingPoints} +' ratings'"
							style="font-weight: bold; width: 150px;" /> </a>
								<a class="dislike" id="dislike"><i
							class="fa fa-thumbs-o-up"></i> <input id="audiorateVal"
							class="rateVal" name="audiorateVal" readonly="readonly" type="text"
							th:value="${adBean.audioRateAvg} +' average'"
							style="font-weight: bold; width: 100px;" /> </a>
							 <a class="rate"
							id="audRate" onclick="showAudioRate();"><i
							class="fa fa-thumbs-o-up"></i> <input id="rate1" class="rate1"
							name="rate1" readonly="readonly" type="text" value="Rate Now"
							style="font-weight: bold; width: 75px;" /> </a>
					</div>

				</div>
			</div>
		</div>
	</form>
</div>

<div th:fragment="audioRate">
	<form>
		<!-- name="form1" action="buyPack" method="post" -->
		<div class="modal-dialog1">
			<div class="modal-content"
				style="width: 300px; position: relative; background-color: #fff; margin: 30px auto">
				<div class="modal-header">
					<div id="timer_div"
						Style="color: red; font-size: 20px; text-align: center;"></div>
					<h4 class="modal-title" id="myModalLabel">Video Rating Point
						11</h4>
				</div>
				<div class="modal-body">
					<span class="rating2"> <input type="radio"
						class="rating2-input" id="rating2-input-1-5" value="1"
						name="rating2-input-1"
						th:onclick="'sendAudioRate(\''+${adBean.audioAdId}+'\',\''+${adBean.audioRatingPoints}+'\',\''+${adBean.audioTotalRatingCount}+'\', 5);'" />
						<label for="rating2-input-1-5" class="rating2-star"></label> <input
						type="radio" class="rating2-input" id="rating2-input-1-4"
						name="rating2-input-1"
						th:onclick="'sendAudioRate(\''+${adBean.audioAdId}+'\',\''+${adBean.audioRatingPoints}+'\',\''+${adBean.audioTotalRatingCount}+'\', 4);'" />
						<label for="rating2-input-1-4" class="rating2-star"></label> <input
						type="radio" class="rating2-input" id="rating2-input-1-3"
						name="rating2-input-1"
						th:onclick="'sendAudioRate(\''+${adBean.audioAdId}+'\',\''+${adBean.audioRatingPoints}+'\',\''+${adBean.audioTotalRatingCount}+'\', 3);'" />
						<label for="rating2-input-1-3" class="rating2-star"></label> <input
						type="radio" class="rating2-input" id="rating2-input-1-2"
						name="rating2-input-1"
						th:onclick="'sendAudioRate(\''+${adBean.audioAdId}+'\',\''+${adBean.audioRatingPoints}+'\',\''+${adBean.audioTotalRatingCount}+'\', 2);'" />
						<label for="rating2-input-1-2" class="rating2-star"></label> <input
						type="radio" class="rating2-input" id="rating2-input-1-1"
						name="rating2-input-1"
						th:onclick="'sendAudioRate(\''+${adBean.audioAdId}+'\',\''+${adBean.audioRatingPoints}+'\',\''+${adBean.audioTotalRatingCount}+'\', 1);'" />
						<label for="rating2-input-1-1" class="rating2-star"></label>
					</span>
				</div>

			</div>
		</div>
	</form>
</div>

</html>