<!doctype html>
<html class="login_html" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>CWS</title>

<link th:href="@{/resources/css/style.css}" rel="stylesheet"
	type="text/css"></link>
<!-- 	<script th:src="@{/resources/js/wurfl.js}"></script> -->
<script type="text/javascript" src="//wurfl.io/wurfl.js"></script>
<script th:src="@{/resources/js/jquery.min.js}"></script>
<script>
	function validateOtp() {
		if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i
				.test(navigator.userAgent)) {
			document.getElementById('checkMobile').value = "mobile";
		} else {
			document.getElementById('checkMobile').value = "desktop";
		}
		// <![CDATA[
		var user = document.getElementById("user").value;
		var password = document.getElementById("password").value;
		var macAddress = document.getElementById("macAddress").value;

		$.ajax({
			url : "./validateAruba?user=" + user + "&password="
					+ password + "&macAddress=" + macAddress,
			type : "POST",
			success : function(data) {
				if (data == "success")
					document.arubaOtpForm.submit();
				else
					document.getElementById('errorMsg').innerHTML = "Please Enter Correct OTP.";
			}
		});
		// ]]>
	}
</script>

</head>
<body>
	<div id="wapper" style="background-image: url('../resources/images/background1.jpg'); background-size: 1370px 670px; background-repeat: no-repeat; width: 100%; height: 650px;">
		<div class="header">
			<a class="logo" href="#"><img
				th:src="@{/resources/images/valley_logo.png}" alt="Valley Logo"
				title="Logo" /></a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div id="loginDiv" class="login_content">
			<form name="arubaOtpForm" th:action="${actionUrl}" method="post">
				<div class="login_outer">
					<div class="form">
						<div class="form_list">
							<input type="hidden" id="checkMobile" name="checkMobile" />
							<ul>
								<li>
									<h1 style="padding-right: 20px;">CWS OTP</h1>

								</li>
								<li><input type="text" placeholder="Enter Password"
									id="password" name="password" /></li>
								<li><input type="hidden" name="username"
									id="user" th:value="${mobileNumber}" /><input
									type="hidden" name="clientMac" id="macAddress"
									th:value="${macAddress}" /></li>
							</ul>
							<div class='error_strings'>
								<span id="errorMsg" style="color: red;"></span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<a href="#"><input type="button" onclick="validateOtp();"
						value="Validate" class="button" /></a>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</form>
			<div class="clear"></div>
		</div>
	</div>
	<div class="footer">
		<span>Copyright All rights reserved by Valley Telegence Pvt.
			Ltd.</span>
	</div>

</body>
</html>
